<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link type="text/css" rel="stylesheet" href="/static/css/howtogostyle.css"/>
<title>Как найти Медицинский центр «Пульс», г.Казань</title>
	<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Imfppqo-aBz7ylHM41GF1oddzkIaDX5i&width=600&height=400&id=box_map"></script>		
</head>
<body>
<!--<div class="box">-->
	<div id="box_map"></div>
<!--</div>-->
</body>
</html>
