<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link type="text/css" rel="stylesheet" href="/static/css/stylesheet.css"/>
<title>Медицинский центр «Пульс», г.Казань</title>
</head>
<body>
<div class="box">
<div class="about">
	<div class="title"><h1>Медицинский центр <span>«Пульс»</span></h1></div>
  <p>Медицинский центр «Пульс» – это <strong>лучшие врачи УЗИ Татарстана</strong>, работающие в единой команде.<br>Наши врачи – это специалисты высшей категории, имеющие <strong>международный сертификат соответствия.</strong><br><br>Мы проводим ультразвуковое наблюдение беременности на всех сроках.<br>Мы решаем самые сложные вопросы диагностики состояния плода.<br>Мы умеем искать маркёры хромосомных аномалий у плода.<br>Мы проводим ультразвуковые исследования плода с целью исключения патологии развития большинства органов и систем плода.<br>Мы проводим <strong>уникальные</strong> ультразвуковые <strong>исследования кишечника.</strong><br><br> Мы диагностируем причины гипертонии и нарушений ритма сердца.<br><br>У нас принимают <strong>врачи-генетики, кардиологи, аритмологи.</strong></p></div>
<div class="right-section">
<div id="triangle"></div>
	<div id="pryamo">
	 	<ul>
        <li><a href="/">Направление деятельности</a></li>
		<li><a href="/">Наши врачи</a></li>
		<li><a href="/">Услуги</a></li>
		<li><a href="/">Расписание</a></li>
		<li><a href="/contacts/">Записаться на прием</a></li>
		<li><a href="/">Вопросы-ответы</a></li>
		<li><a href="/">Блог Терегуловой Л.Е.</a></li>
		<li><a href="/">Фотоэкскурсия</a></li></ul></div>
	<div class="contacts"><h4><strong>Наши координаты:</strong><a href="/howtogo/"><br>г.Казань, ул. А.Кутуя, д. 46</a>, телефон: +7 (843) 297-30-22</h4></div>
</div></div>
<footer>
  <h6>Copyright © 2015   Медицинский центр «Пульс»</h6>
</footer>
</body>
</html>
